:root {
    --primary-text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --primary-white-color: #FFFFFF;
    --btn-bg-color: #F5F4FA;
    --bg-grey-color: #F5F4FA;
    --bg-dark-color: #2F303A;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}


.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}


/* логотип */
.logo {
    color: var(--logo-color);
}
.logo-web {
    color: var(--accent-color);
}
.logo,
.logo-web{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

/* навигация сайта */
.navigation .link {
    color: var(--title-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.navigation .link:hover,
.navigation .link:focus {
    color: var(--accent-color);
}
.navigation .link.current {
    color: var(--accent-color);
}
/* контакти */
.contacts .link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    outline: 2px solid tomato;
}

/* герой */
.hero {
    outline: 2px solid tomato;
    background-color: var(--bg-dark-color);
}
.hero .title{
    margin-top: 0;
    margin-bottom: 40px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section:nth-child(odd){
    background-color: teal;
}
.section:nth-child(even){
    background-color: red;
}

.centered{
    text-align: center;
}


/* button */
.button.main {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    font-family: inherit;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.button.filter {
    font-family: inherit;
    color: var(--title-color);
    background-color: var(--btn-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;

}
.button.filter:hover,
.button.filter:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
/* Особенности */
.features .title-main,
.portfolio .title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

    

.features .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-color);
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
.features .text{
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
}
/* Чем мы занимаемся */
.working{
    padding-bottom: 94px;
}
.working .title{
    margin-top: 0;
    margin-bottom: 50px;
    
}
.working .title,
.team .title {
    color: var(--title-color);
    font-size: 36px;
    line-height: 1.16;
}
/* Наша команда */
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--bg-grey-color);
}

.team .title{
    margin-top: 0;
    margin-bottom: 50px;
}

.team .name {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;    
}
.team .position {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.18;    
}
/* портфолио */
.portfolio .project{
    color: var(--title-color);
    font-size: 18px;
    line-height: 2; 
    letter-spacing: 0.06em;
}
.portfolio .desc{
    font-size: 16px;
    line-height: 1.87;
}
.button.filter.current {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* футер */
address {
    font-style: normal;
}

.footer {
    background-color: var(--bg-dark-color);
}
.logo.footer{
    color: var(--primary-white-color);
}

.adds {
    line-height: 1.7;
}
.adds .location {
    color: var(--primary-white-color);
    text-decoration: none;
}
.adds .link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    
}
.adds .link:hover,
.adds .link:focus {
    color: var(--accent-color);
}


